* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color:green;
}


ul {
    list-style-type: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;

}



header .logo {
    margin: 0;
    padding: 1.5625rem 1.875rem;
   
    width: 3rem;
    height: 3rem;
}
#encabezado{
text-align: center;
}

#contenedorCarrousell {
    width: 100%;
}



 h1 {
    color: #00ff99;
}

#Informacion-UntrefSchool .card{
    padding: 50px;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: #10528b (50, 50, 50, 1);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.card:first-child{
    height:fit-content;
    margin-bottom: 2rem;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5));
    backdrop-filter: 2px;
    
}
   
.card:nth-child(2){
    backdrop-filter: rgba(0,0,0,0.5),
     rgba(0,0,0,0.5);
    
    }
 .card:nth-child(3){
    background-image: linear-gradie
          0deg,
     rgba(0,0,0,0.5),
     rgba(0,0,0,0.5)
     }
    

.card h3{
    text-align: center;
}

.iconoRedes{
    width:3rem;
    height: 3rem;
    color: #00ff99;
}
