* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color:green;
}


ul {
    list-style-type: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;

}



header .logo {
    margin: 0;
    padding: 1.5625rem 1.875rem;
   
    width: 3rem;
    height: 3rem;
}


#contenedorCarrousell {
    width: 80%;
}



 h1 {
    color: #00ff99;
}


.card{
    height:fit-content;
    margin-bottom: 2rem;
   
}
.card h3{
    text-align: center;
}

.iconoRedes{
    width:3rem;
    height: 3rem;
    color: #00ff99;
}
